.paginationBlock {
    margin: 10px;
    cursor: default;
}

.paginationBlock span {
    padding-left: 4px;
    padding-right: 4px;
    color: navy;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    border: 1px solid navy;
}