.header {
    grid-area: h;
    background-color: deepskyblue;
    position: sticky;
    top: 0;
}

.header img {
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
}

.loginBlock {
    float: right;
    margin-right: 20px;
    margin-top: 13px;
}

.loginBlock a {
    text-decoration: none;
}

.loginBlock button {
    border-style: none;
    background: none;
    cursor: pointer;
    outline: none;
    font: inherit;
}