.header {
    grid-area: h;
    background-color: deepskyblue;
    position: sticky;
    top: 0;
}

.header img {
    height: 36px;
    padding-left: 25px;
    padding-top: 7px;
}

.loginBlock {
    float: right;
    margin-right: 20px;
    margin-top: 13px;

}

.loginBlock a {
    text-decoration: none;
}

.loginBlock span {
    font: inherit;
    cursor: default;
}

.loginBlock button {
    border-style: none;
    background: none;
    cursor: pointer;
    outline: none;
    font: inherit;
    color: inherit;
}

.loginBlock button:hover {
    color: white;
}

.logo:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}