.header {
    grid-area: h;
    background-color: deepskyblue;
    position: sticky;
    top: 0;
}

.header img {
    height: 40px;
    padding-left: 15px;
    padding-top: 5px;
}

/*
.logoImg  {
    background: url(./logo.png) center no-repeat;
}
*/
