.nav {
    grid-area: n;
    background-color: ghostwhite;
    padding-left: 25px;
    padding-top: 10px;
}

.item {
    height: 25px;
}

.item a {
    text-decoration: none;
}

.item a:hover {
    color: blue;
}

.item a.activeLink {
    color: blue;
}