.nav {
    grid-area: n;
    background-color: beige;
    padding-left: 25px;
    padding-top: 10px;
    /*    height: 70vh;*/
}

.item a{
    color: navy;
    text-decoration: none;
}

.item a.activeLink {
    color: blue;
}