.nav {
    grid-area: n;
    background-color: ghostwhite;
    padding-left: 25px;
    padding-top: 10px;
}

.item a{
    color: navy;
    text-decoration: none;

}

.item a.activeLink {
    color: blue;
}