.ProfileBlock {
    padding-left: 10px;
    padding-top: 5px;
}

.avaPhoto {
    max-height: 200px;
    background-color: white;
    margin-top: 5px;
}

.contacts {
    margin-top: 10px;
}

.contact {
    margin-left: 10px;
}