.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            'h h h h'
            'n . c .';
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 5px 8fr 5px;
    /*    grid-column--gap: 7px;*/
    /*    grid-row-gap: 5px;*/
    width: 100%;
    height: 100vh;
}

.app-wrapper-content {
    grid-area: c;
    overflow: inherit;

    background-color: white;
}
