.Dialogs {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding-left: 25px;
    padding-top: 10px;
}

.messages {
    border-left-style: groove;
    padding-left: 15px;
    padding-right: 15px;
    color: navy;
}

.addMessage {
    padding-top: 10px;
    padding-right: 20px;
}

.addMessage div {
    text-align: right;

}