.Dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding-left: 25px;
    padding-top: 10px;
}

.dialogItems .dialog a {
    text-decoration: none;
    color: navy;
}

.messages {
    border-left-style: groove;
    padding-left: 5px;
    color: navy;
}